h1 {
  color: purple;
  text-align: center;
  font-family: cursive;
  font-size: 40px;
}

h2 {
  font-style: italic;
  color: violet;
}

p {
  color: crimson
}

body {
  background-color: beige;
  font-family: sans-serif;
  text-align: center;
}
