h1 {
<<<<<<< HEAD
  color: turquoise;
  font-family: helvetica;
}

h2 {
  color: purple;
}

body {
  background-color: beige;
=======
  color: darkgreen;
  text-align: center;
}

h2 {
  font-style: italic;
  color: green;
}

body {
  background-color: limegreen;
  font-family: sans-serif;
  text-align: center;
>>>>>>> style_2
}
